# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude .terraform.lock.hcl files
.terraform.lock.hcl

# Exclude tfvars files that are either
# a) in the root of your configuration directory
# b) anywhere with their names ending in ".auto.tfvars"
*.auto.tfvars
override.tfvars

# If you override variables in a non-root module include the override files
*/override.tf
*/override.tf.json